@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

.wrapper {
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrapper form {
  padding: 10px 30px 50px 30px;
}

.wrapper form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.wrapper form .field input:focus,
form .field input:valid {
  border-color: #4158d0;
}

.wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

form .field input:focus~label,
form .field input:valid~label {
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}

form .content {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}

form .content .checkbox {
  display: flex;
  align-items: center;
}

form .content input {
  width: 15px;
  height: 15px;
}

form .content label {
  color: #262626;
  user-select: none;
  padding-left: 5px;
}

form .field input[type="submit"] {
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
}

form .field input[type="submit"]:active {
  transform: scale(0.95);
}

form .signup-link {
  color: #262626;
  margin-top: 20px;
  text-align: center;
}

form .pass-link a,
form .signup-link a {
  color: #4158d0;
  text-decoration: none;
}

form .pass-link a:hover,
form .signup-link a:hover {
  text-decoration: underline;
}



.container {
  width: 400px;
  height: 100%;
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
  font-size: 24px;
}

#addTagButton {
  background-color: #4158d0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#addTagButton:hover {
  background-color: #354ab8;
}

#addProfile {
  background-color: #4158d0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#tagList {
  margin-top: 20px;
}

#tagList div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 10px 20px;
  border-radius: 25px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

#tagList div:hover {
  background-color: #eaeaea;
}

#tagList button {
  background-color: #ff4c4c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#tagList button:hover {
  background-color: #e63939;
}

#addProfile:hover {
  background-color: #354ab8;
}

.profile-list {
  list-style-type: none;
  padding: 0;
}

.profile-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 10px 20px;
  border-radius: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-item:hover {
  background-color: #eaeaea;
}

.arrow {
  font-size: 18px;
  color: #4158d0;
}

/* Styles pour la modale */
.modal {
  display: none;
  /* Cachée par défaut */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  /* Fond sombre transparent */
}

.modal-content {
  background-color: #fff;
  margin: 3% auto;
  /* Centrer la modale */
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  /* Réduire la largeur */
  max-width: 300px;
  /* Limite maximale de largeur */
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}


.close-kid-btn {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close-kid-btn:hover {
  color: red;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#saveKid {
  background-color: #4158d0;
  color: white;
}

#saveKid:hover {
  background-color: #354ab8;
}

#cancelKid {
  background-color: #ccc;
  color: black;
}

#cancelKid:hover {
  background-color: #bbb;
}

#newKidName {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.header h2 {
  margin: 0;
  font-size: 24px;
}

.back-btn {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #4158d0;
  cursor: pointer;
}

.delete-btn {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #ff4c4c;
  cursor: pointer;
}

.field {
  margin-bottom: 20px;
}

.field label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.field input,
.field select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.save-btn {
  width: 100%;
  padding: 10px;
  background-color: #4158d0;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #354ab8;
}

/* Styles pour le toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.timer-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  z-index: 1000;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  /* Permet aux éléments de passer à la ligne si nécessaire */
  gap: 10px;
  /* Espacement entre les checkboxes */
}

.tag-list label {
  display: flex;
  align-items: center;
  /* Aligne la checkbox et le texte */
  font-size: 14px;
  /* Ajuster la taille de la police si nécessaire */
}